@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap');

$rootFontSize: 16;
$font-primary: 'Space Mono', monospace;
$font-secondary: 'Inconsolata', monospace;
$font-footer: 'Montserrat', sans-serif;